:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: cadetblue;
  --input-color: rgba(152, 152, 152, 0.299);
  --list-color: rgba(152, 152, 152, 0.064);
  --delete-button-color: rgb(232, 74, 106);
  --red-notifications-color: rgba(208, 89, 113, 0.4);
  --green-color: rgba(0, 128, 0, 0.675);
  --green-background-color: rgba(11, 187, 11, 0.499);
  --green-notifications-color: rgb(0, 128, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  overflow: hidden;

  .main_container {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: var(--white-color);
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .notifications {
      width: 500px;
      height: 125px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      overflow: hidden;
      gap: 10px;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);

      .notification_div {
        opacity: 0;
        padding: 10px;
        font-size: 14px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 5px;
          width: 100%;
        }
      }

      .success_notifications {
        opacity: 1;
        background-color: var(--green-background-color);
        color: var(--green-notifications-color);

        &::after {
          background-color: var(--green-notifications-color);
          width: 0;
          transition: width 3s;
        }
      }

      .delete_notifications {
        opacity: 1;
        background-color: var(--red-notifications-color);
        color: var(--delete-button-color);

        &::after {
          background-color: var(--delete-button-color);
          width: 0;
          transition: width 3s;
        }
      }
    }

    .inputs {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;

      .input_container {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
          width: 100%;
          padding: 10px;
          background-color: var(--input-color);
          border: none;
          outline: none;
          font-size: 16px;
          color: var(--black-color);
          border: 1px solid var(--input-color);
          font-weight: 300;
        }

        .error_input {
          border: 1px solid var(--delete-button-color);
        }

        .error_text {
          display: none;
          font-size: 12px;
          font-weight: 200;
          color: var(--delete-button-color);
        }
      }

      button {
        width: 18%;
        padding: 10px;
        border: none;
        background-color: var(--main-color);
        color: var(--white-color);
        cursor: pointer;
        font-size: 16px;
        transition: 0.2s ease-out;
        border: 1px solid var(--main-color);

        &:hover {
          opacity: 0.8;
          transition: 0.2s ease-in;
        }
      }
    }
    .product_list {
      padding-left: 0;
      list-style: none;
      width: 100%;
      height: 300px;
      overflow-y: scroll;
      background-color: var(--list-color);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 15px 0;

      li {
        margin: 0 15px;
        background-color: var(--input-color);
        display: flex;
        justify-content: space-between;

        span {
          padding: 10px;
          font-size: 14px;
          font-weight: 200;
        }

        button {
          background-color: var(--delete-button-color);
          color: var(--white-color);
          padding: 10px 30px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          transition: 0.2s ease-out;

          &:hover {
            opacity: 0.8;
            transition: 0.2s ease-in;
          }
        }
      }
    }
    .total_container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        font-size: 16px;
        font-weight: 300;
        color: var(--green-color);
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

@media (max-width: 786px) {
  body {
    .main_container {
      width: 95%;
      height: 70vh;
      margin: auto;
      padding: 80px 20px 50px;

      .notifications {
        width: calc(95% - 20px);
        margin: auto;
        top: -55px;
      }

      .inputs {
        flex-direction: column;
        gap: 10px;

        .input_container {
          width: 100%;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}
